# Movies, Movies, Movies!

The data obtained in this project will comes directly from https://www.kaggle.com/code/rafburzy/movies-dataset-analysis/data.
Movie data ranging from 1980-2016 that was scraped from IMDB.com and complied into a csv file.

### Table of Contents

**-Hypothesis** What was the most popular Genre of movie for the 90s? (1990-1999)<br>
**-Data** <br>
**-Visualizations** <br>

In [27]:
import os

#Get current working directory
cwd = os.getcwd()

#Construct a path to the zip file in the subdirectory 'data'
file_path = os.path.join(cwd, 'data', 'movies.csv.zip')

## The dataset below serves as a sample set of what was explored

In [28]:
import zipfile
import pandas as pd

# Open the zip file and extract the CSV file
with zipfile.ZipFile(file_path, 'r') as zip_file:
    zip_file.extractall()

# Read the CSV file into a pandas DataFrame
movies_df = pd.read_csv('./data/movies.csv')

# Display the first few rows of the DataFrame
print(movies_df.head())

                                             name rating      genre  year  \
0                                     The Shining      R      Drama  1980
1                                 The Blue Lagoon      R  Adventure  1980
2  Star Wars: Episode V - The Empire Strikes Back     PG     Action  1980
3                                       Airplane!     PG     Comedy  1980
4                                      Caddyshack      R     Comedy  1980

                        released  score      votes         director  \
0  June 13, 1980 (United States)    8.4   927000.0  Stanley Kubrick
1   July 2, 1980 (United States)    5.8    65000.0   Randal Kleiser
2  June 20, 1980 (United States)    8.7  1200000.0   Irvin Kershner
3   July 2, 1980 (United States)    7.7   221000.0     Jim Abrahams
4  July 25, 1980 (United States)    7.3   108000.0     Harold Ramis

                    writer            star         country      budget  \
0             Stephen King  Jack Nicholson  United Kingdom  19000000.0
1  Henry De Vere Stacpoole  Brooke Shields   United States   4500000.0
2           Leigh Brackett     Mark Hamill   United States  18000000.0
3             Jim Abrahams     Robert Hays   United States   3500000.0
4       Brian Doyle-Murray     Chevy Chase   United States   6000000.0

         gross             company  runtime
0   46998772.0        Warner Bros.    146.0
1   58853106.0   Columbia Pictures    104.0
2  538375067.0           Lucasfilm    124.0
3   83453539.0  Paramount Pictures     88.0
4   39846344.0      Orion Pictures     98.0

In [29]:
#This list provides a reference for what will be referenced within the code to extract 
#the necessary data to answer the question.
movies_df = pd.read_csv(file_path)
movies_df.columns
movies_df.shape
movies_df.info()
movies_df.isnull().sum().sort_values(ascending=False)
movies_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7668 entries, 0 to 7667
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      7668 non-null   object
 1   rating    7591 non-null   object
 2   genre     7668 non-null   object
 3   year      7668 non-null   int64
 4   released  7666 non-null   object
 5   score     7665 non-null   float64
 6   votes     7665 non-null   float64
 7   director  7668 non-null   object
 8   writer    7665 non-null   object
 9   star      7667 non-null   object
 10  country   7665 non-null   object
 11  budget    5497 non-null   float64
 12  gross     7479 non-null   float64
 13  company   7651 non-null   object
 14  runtime   7664 non-null   float64
dtypes: float64(5), int64(1), object(9)
memory usage: 898.7+ KB

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0

## Here is where the data 'cleaning' process begins

In [30]:
#Dropping all of the unnecessary columns in the original dataset
movies_df.drop(['rating', 'released', 'writer', 'star', 'country', 'budget', 'gross', 'company', 'runtime'], axis=1, inplace=True )

#Here I am removing any items with null values from the columns so that the data isnt't skewed
movies_df.dropna(subset=['name', 'genre', 'year', 'score', 'votes', 'director'], inplace=True)
#Sorting the dataframe by year in Ascending order
movies_df.sort_values(by='year', inplace = True)
movies_df

,name,genre,year,score,votes,director
0,The Shining,Drama,1980,8.4,927000.0,Stanley Kubrick
66,Moscow Does Not Believe in Tears,Comedy,1980,8.1,12000.0,Vladimir Menshov
65,Fatso,Comedy,1980,6.3,2000.0,Anne Bancroft
64,Resurrection,Drama,1980,7.3,2800.0,Daniel Petrie
63,Honeysuckle Rose,Drama,1980,6.3,1400.0,Jerry Schatzberg
...,...,...,...,...,...,...
7644,Wonder Woman 1984,Action,2020,5.4,217000.0,Patty Jenkins
7643,Tenet,Action,2020,7.4,387000.0,Christopher Nolan
7665,Saving Mbango,Drama,2020,5.7,29.0,Nkanya Nkwai
7652,The Eight Hundred,Action,2020,6.8,3700.0,Hu Guan
7667,Tee em el,Horror,2020,5.7,7.0,Pereko Mosia

## Now that we have a nice, complete dataset to look at, we'll move on to analyzing the data.

In [33]:
movies_df.loc[(movies_df['year'] >= 1990) & (movies_df['year'] <= 1999)]

,name,genre,year,score,votes,director
1778,A Cry in the Wild,Action,1990,5.6,945.0,Mark Griffiths
1770,Delta Force 2: the Colombian Connection,Action,1990,4.9,6900.0,Aaron Norris
1771,Desperate Hours,Action,1990,5.4,7200.0,Michael Cimino
1772,Ju Dou,Drama,1990,7.7,7800.0,Yimou Zhang
1773,Cadence,Drama,1990,6.5,5300.0,Martin Sheen
...,...,...,...,...,...,...
3510,The Straight Story,Biography,1999,8.0,84000.0,David Lynch
3511,Idle Hands,Comedy,1999,6.2,41000.0,Rodman Flender
3512,Bowfinger,Comedy,1999,6.4,68000.0,Frank Oz
3513,Detroit Rock City,Comedy,1999,6.9,36000.0,Adam Rifkin
3504,For Love of the Game,Drama,1999,6.6,33000.0,Sam Raimi

In [32]:
#What specific data do we need to explore in order to find the most popular Genre of the 90s.
#Year range = 1990-1999, Rating (scale out of 10), Genre